/* Reset Styles */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,code,em,img,small,strong,
sub,sup,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,article,aside,footer,
header,nav,section,time,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
object {
  max-width: 100%;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

input,
select {
  vertical-align: middle;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

strong {
  font-weight: bold;
}

label,
input[type="file"],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
  border: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}
/* END Reset Styles */
html{
  overflow-y: auto;
}

body{
    background: url('../img/kraft_paper.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#wrapper{
  padding-top: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
}

#wrapper p{
  padding-bottom: 10px;
}

.main-img-wrapper img{
  width: 550px;
}

.about-us, .contacts{
  font-family: cursive;
  padding: 0 10%;
  color: #fff;
}

.social-buttons{
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.social-buttons a{
  margin: 0px 10px;
  cursor: pointer;
}

.social-buttons i.fa{
  font-size: 42px;
}

@media (min-width: 1366px) {
  .main-img-wrapper img {
    width: 800px;
  }
  
  #wrapper p{
    font-size: 20px;
  }
}